<div class="w-full flex justify-center">
  <div class="w-auto m-5 lg:mx-0">
    <div
      class="border-t border-r border-b border-l border-gray-400 lg:border-l lg:border-t lg:border-r lg:border-b lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <div class="mb-8">
        <div class="text-gray-800 font-bold text-xl mb-2">
          Hi 👋,
        </div>
        <p class="text-gray-800 text-base mb-4">
          Munich 🍻 🥨 based Software-Developer and mountain enthusiasts 🌄
        </p>
        <p class="text-gray-800 text-base mb-4">
          Since September 2016 i work as Software Developer at <i>CHECK24</i>.
          <br />
          We build things with
          <a class="underline" href="https://nodejs.org/en/" target="_blank"
            >nodejs</a
          >,
          <a
            class="underline"
            href="https://dotnet.microsoft.com/"
            target="_blank"
            >.NET Core</a
          >
          and
          <a class="underline" href="https://reactjs.org/" target="_blank"
            >reactjs</a
          >.
          <br />
          I'm a Linux 🐧 Fanboy, currently on
          <a class="underline" href="https://manjaro.org/" target="_blank"
            >Majaro</a
          >, and eager student of
          <a class="underline" href="https://www.erlang.org/" target="_blank"
            >erlang</a
          >/<a class="underline" href="https://elixir-lang.org/" target="_blank"
            >elixir</a
          >
          and OTP.
        </p>
        <p class="text-gray-800 text-base">
          <code>if ☃️ do️ ⛷ else 🧗 end</code>
          <br />
          When i don't program i go to the mountains for climbing or, if we have
          snow, skiing.
        </p>
      </div>
    </div>
  </div>
</div>
